<div class="profile">
  <div class="card">
    <div class="img-box">
      <img class="card-img" src="https://images.unsplash.com/photo-1444011283387-7b0f76371f12?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cbc3b29b62775efc573115ee5f413905&auto=format&fit=crop&w=682&q=80">
    </div>
    <div class="global-actions">
      <div class="left-action">
        <a routerLink = "../">
          <img src="https://thumb.ibb.co/iS3bpT/caret_down.png" width="26" height="26" />
        </a>
      </div>
  </div>
  </div>
  <div style="margin-bottom: 100px">
    <div class="card-header">
      <h5>Su, 22</h5>
      <p>30 Miles away</p>
    </div>
    <div class="card-header">
      <p> Its strange that we all are strangers at one point! </p>
    </div>
    <div class="card-header text-center">
      <p>REPORT SU</p>
    </div>
  </div>
      <div class="sticky-bottom">
        <div class="bottom-actions">
          <div class="left-action left">
            <img src="https://thumb.ibb.co/i8sHB8/refresh_arrow.png" width="26" height="26" />
          </div>
          <div class="left-action up">
            <img src="https://thumb.ibb.co/eZ6roo/delete.png" width="26" height="26" />
          </div>
          <div class="top-action right">
            <img src="https://thumb.ibb.co/eQ01oo/star.png" width="23" height="23" />
          </div>
        </div>
      </div>
</div>