body{
    background-color: #f5f7fa;
    
}

.text-left img{
    position: absolute;
    left: 10px;
}

.text-right img{
    position: absolute;
    right: 10px;
}

.route-container{ 
    position: relative;
}

.route-container>*{
    display: block;
}