<div class="main">
  <div class="box">
    <div class="message-box">
      <svg style="position: absolute;vertical-align: middle;left: 16px; top: 16px;opacity: 0.3;" width="117" height="170">
        <rect x="0" y="0" width="117" height="170" rx="10" fill="grey" fill-rule="evenodd">
        </rect>
      </svg>
      <svg style="position: absolute;
      opacity: 0.4; left: 8px; top: 8px; vertical-align: middle" width="117" height="170">
      <rect x="0" y="0" width="117" height="170" rx="10" fill="grey" fill-rule="evenodd">
      </rect>
    </svg>
    <svg style="position: absolute;
    top:0; left:0; vertical-align: middle" width="117" height="170">
    <defs>
    <linearGradient id="lgrad" x1="0%" y1="12%" x2="100%" y2="88%">
      <stop offset="0%" style="stop-color:rgb(255,69,18);stop-opacity:1" />
      <stop offset="74%" style="stop-color:rgb(247,122,71);stop-opacity:1" />
      <stop offset="84%" style="stop-color:rgb(247,130,79);stop-opacity:1" />
    </linearGradient>
    </defs>
    <rect x="0" y="0" width="117" height="170" rx="10" ry="10" fill="url(#lgrad)" fill-rule="evenodd">
    </rect>
  </svg>
</div>
</div>
<div class="text">
  <h4>Get Swiping</h4>
  <p>When you match with other users they’ll appear here where you can send them a message</p>
</div>
</div>