<div class="profile">
  <div class="card mb-3">
    <div class="img-box"> 
    <img class="card-img" src="{{profile.photos[0]}}">
    </div>

    <div class="overlay">
      <a class="float-left" style="cursor: pointer"
       routerLink = "settings">
        <img src="https://thumb.ibb.co/fRUuKT/settings.png" alt="settings" 
        width = "40" height = "40" border="0">
      </a>
      <a class="float-right" style="cursor: pointer"
      routerLink = "edit">
        <img src="https://thumb.ibb.co/nB4xOo/pencil.png" alt="edit" width="40" height="40"/>
      </a>
      <button type="button" class="btn btn-info btn-lg btn-block plus">GET TINDER PLUS</button>
    </div>
  </div>
      <div class="card-body mb-3" *ngIf = "profile">
        <h5>{{profile.name}}, {{profile.age}}</h5>
        <p>{{profile.title}}</p>
        <p>{{profile.company}}</p>
        <p>{{profile.school}}</p>
        <p>{{profile.bio}}</p>
      </div>

  
  
</div>
