
<div class="container profile-pic">
    
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <img src="{{profile.photos[0]}}" class="img-fluid" alt="">
                    <a class="closes">
                        <img src="https://thumb.ibb.co/htUquT/cancel.png" alt="error" border="0">
                    </a>
                </div>        
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <img src="{{profile.photos[1]}}"
                        class="img-fluid" alt="">
                    <a href="#" class="closes">
                        <img src="https://thumb.ibb.co/htUquT/cancel.png" alt="error" border="0">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="{{profile.photos[2]}}"
                    class="img-fluid" alt="">
                    <a href="#" class="closes">
                        <img src="https://thumb.ibb.co/htUquT/cancel.png" alt="error" border="0">
                    </a>
                </div>
            </div>                        
        </div>
    </div>

    <div class="row">
            <div class="col-4">
                <img src="{{profile.photos[3]}}" class="img-fluid" alt="">
                <a href="#" class="closes">
                    <img src="https://thumb.ibb.co/htUquT/cancel.png" alt="error" border="0">
                </a>
            </div>
            <div class="col-4">
                <img src="{{profile.photos[4]}}" class="img-fluid" alt="">
                <a href="#" class="closes">
                    <img src="https://thumb.ibb.co/htUquT/cancel.png" alt="error" border="0">
                </a>
            </div>
            <div class="col-4">
                <img src="{{profile.photos[5]}}" class="img-fluid" alt="">
                <a href="#" class="closes">
                    <img src="https://thumb.ibb.co/htUquT/cancel.png" alt="error" border="0">
                </a>
            </div>
    </div>
            
</div>
    


<div class="edit mt-5 mb-4">
    <form (ngSubmit)="saveData(form)" #form="ngForm">
                <div class="mb-3 form-group">
                    <label for="about">About Asif</label>
                    <textarea type="text" id="about" class="form-control" name="about" 
                    [(ngModel)] = "profile.bio" #about="ngModel" 
                    required rows="4">
                    </textarea>
                    <!-- <small id="about" class="form-text text-muted" *ngIf="!name.valid && name.touched">
                        Please enter a valid Ingredient.
                    </small> -->
                </div>
                <div class="mb-3 form-group">
                    <label for="job">Job Title</label>
                    <input type="text" placeholder="Add title"
                    class="form-control" id="job" name="job" 
                    [(ngModel)] = "profile.title" #job="ngModel">
                    <!-- <small id="amount" class="form-text text-muted" *ngIf="!amount.valid && amount.touched">
                        Select an amount.
                    </small> -->
                </div>
                <div class="mb-3 form-group">
                    <label for="company">Company</label>
                    <input type="text" placeholder="Add company"
                    class="form-control" id="company" name="company" 
                    [(ngModel)] = "profile.company" #company="ngModel">
                    <!-- <small id="amount" class="form-text text-muted" *ngIf="!amount.valid && amount.touched">
                        Select an amount.
                    </small> -->
                </div>
                <div class="mb-3 form-group">
                    <label for="school">School</label>
                    <input type="text" placeholder="Add school" 
                    class="form-control" id="school" name="school" 
                    [(ngModel)] = "profile.school" #school="ngModel">
                    <!-- <small id="amount" class="form-text text-muted" *ngIf="!amount.valid && amount.touched">
                        Select an amount.
                    </small> -->
                </div>
                <div class="mb-3 form-group">
                    <label for="gender">Gender</label>
                    <input type="text" class="form-control" id="gender" name="gender" 
                    [(ngModel)] = "profile.gender" #gender="ngModel">
                    <!-- <small id="amount" class="form-text text-muted" *ngIf="!amount.valid && amount.touched">
                        Select an amount.
                    </small> -->
                    <!-- <select class="form-control">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>

                    </select> -->
                </div>

                <button class="btn btn-primary submit" type="submit">Save</button>
    </form>
</div>