<div class="container-fluid">

  <div class="stage">
    <div id="stacked-cards-block" class="stackedcards stackedcards--animatable">
      <div class="stastackedcards-container">
        <div class="card">
          <div class="card-content">
            <div class="card-image">
              <img src="https://image.ibb.co/gQsq07/Adventure_and_Outdoor.png" width="100%" height="100%" />
            </div>
            <div>
              <div class="card-titles" style="display: flex; flex-direction: column; width: 100%">
                <h1>Su, 22</h1>
                <p>20 Insta Photos</p>
                <a style="position:  absolute;right: 20px;bottom: 35px; 
                transform: scale(0.4)" routerLink="details" >
                  <img src="https://thumb.ibb.co/eoPm4T/info_button.png" alt="warning" border="0">
                </a>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>

    <div class="global-actions">
      <div class="left-action">
        <img src="https://thumb.ibb.co/i8sHB8/refresh_arrow.png" width="26" height="26" />
      </div>
      <div class="left-action">
        <img src="https://thumb.ibb.co/eZ6roo/delete.png" width="26" height="26" />
      </div>
      <div class="top-action">
        <img src="https://thumb.ibb.co/eQ01oo/star.png" width="23" height="23" />
      </div>
      <div class="right-action">
        <img src="https://image.ibb.co/dCuESn/Path_3x.png" width="30" height="28" />
      </div>
      <div class="left-action">
        <img src="https://thumb.ibb.co/dhO48o/thunder.png" width="26" height="26" />
      </div>

    </div>
  </div>

</div>